@model RegisterViewModel;


@{
    ViewBag.PageTitle = "Create Users";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-2">
        <form asp-action="Register" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">User Name</label>
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City">City</label>
                <input asp-for="City" class="form-control" placeholder="City">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create User</button>
            <br />
            <br />

            <p>If a already account then for  <a asp-action="Users" asp-controller="Admin">Back</a></p>
        </form>
    </div>
</div>
